h1 {
text-align: center;
padding : 20px;
}




/*Medium devices (tablets, 768px and up)*/
@media (max-width: 868px) { 


.card-text {
display:none;
}
 }



/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 

.card-text {
        display:none;
        }
}