h1 {
    text-align: center;
    padding: 20px;
}

.card-body {
    min-height: 200px;
}






/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

    .card-text {
        display: none;
    }


}



/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .nav-link {
        display: none;
    }
}